//display-flex
@mixin display-flex($flex-direction: row) {
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: $flex-direction;
}

@mixin flex-justify-content($justify-content) {
    justify-content: $justify-content;
}

@mixin flex-align-items($align-items) {
    align-items: $align-items;
}

//box-shadow
@mixin light-box-shadow($color) {
    -moz-box-shadow: 3px 0px 10px $color;
    -webkit-box-shadow: 3px 0px 10px $color;
    box-shadow: 3px 0px 10px $color;
}

//circle-border-radius
@mixin circle-border-radius {
    border-radius: 50px;
}

@mixin low-transition {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
