//font-size
$r-025-fontsize: 0.25rem;
$r-05-fontsize: 0.5rem;
$r-075-fontsize: 0.75rem;
$r-fontsize: 1rem;
$r-125-fontsize: 1.25rem;
$r-15-fontsize: 1.5rem;
$r-175-fontsize: 1.75rem;

//margin
$s-margin: 2px;
$m-margin: 5px;
$l-margin: 10px;

//padding
$s-padding: 2px;
$m-padding: 5px;
$l-padding: 10px;

//large
$s-fontsize: 12px;
$m-fontsize: 14px;
$l-fontsize: 16px;
